.sizing {
	max-width: 960px;
	margin: auto;
}
.navbar-style {
	display: block;
	background-color: peachpuff;
	border-radius: 10px;

}
.navbar li {
	display: inline-block;
	padding: 10px;

}

a {
	text-decoration: none;
	color: brown;
}

.large-img {
	max-width: 100%;
}

.gallery img {
	display: inline-block;
	margin: 10px 10px 10px 0;
}


/* Responsive Aspects */

@media all and (max-width: 960px) {
	.sizing {
		padding: 0 20px;
	}
}

@media screen and (max-width: 480px) {
	.navbar li {
		display: block;
		width: 100%;
		margin: auto;

	}
	.gallery img {
		display: block;
		margin: 10px auto;
	}

}

